.form {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.layout {
  max-width: 700px;
  display: grid; 
}

.text {
  font-family: var(--body1);
  font-size: 1rem;
  color: var(--black);
  font-weight: 400;
  position: relative;
  margin-bottom: 48px;
}

.text::after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, .15);
  height: .5px;
  bottom: -24px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  margin-top: 16px; 
}

.createAccountButton {
  font-size: 2rem;
  font-family: var(--body1);
  font-weight: 700;
  min-width: calc(50% - 10px);
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--black);
  background: var(--black);
  color: var(--white);
  box-shadow: 3px 3px 0px 0px var(--white), 4px 4px 0px 0px var(--black);
  padding: 12px 0px;
  transition:box-shadow .2s ease-in-out, border-color .2s ease-in-out;
}

.loginButton {
  font-size: 2rem;
  font-family: var(--body1);
  font-weight: 700;
  min-width: calc(50% - 10px);
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--black);
  background: var(--white);
  color: var(--black);
  box-shadow: 3px 3px 0px 0px var(--black), 4px 4px 0px 0px var(--white);
  padding: 12px 0px;
  transition:box-shadow .2s ease-in-out, border-color .2s ease-in-out;
}

.createAccountButton:hover, .createAccountButton:focus {
  outline: none;
  box-shadow: 4px 4px 0px 0px var(--white), 8px 8px 0px 0px var(--black);
}

.loginButton:hover, .loginButton:focus {
  outline: none;
  box-shadow: 6px 6px 0px 0px var(--black), 8px 8px 0px 0px var(--white);
}

@media(max-width: 650px) {
  .loginButton,.createAccountButton {
    font-size: 1.5rem;
  }
}

@media(max-width: 460px) {
  .buttonContainer {
    flex-direction: column;
  }
}

@media(max-width: 340px) {
  .text {
    font-family: var(--body1);
    font-size: .875rem;
    margin-bottom: 36px;
  } 

  .loginButton, .createAccountButton {
    font-size: 1rem;
  }
}