 .container {
    position: relative;
}

.container {
  max-width: 100%;
  max-height: calc(100vh - 110px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(.1px);
  background-color: rgba(0, 0, 0, 0.2);
  background-size: contain;
}

.titulo, .btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.titulo {
  font-family: var(--tit);
  font-size: 4em;
  max-width: none; 
  top: 40%;
  color: var(--white);
  white-space: nowrap
}

.btn {
  top: 60%;
  padding: 14px 48px 14px 48px;
  border: 1px solid var(--white);
  box-shadow: 4px 4px 0px 0px var(--white);
  color: var(--white);
  font-family: var(--body-1);
  font-size: 24px;
  font-style: normal;
  cursor: pointer;
  transition:box-shadow .2s ease-in-out, border-color .2s ease-in-out;
}
.btn:hover {
  box-shadow: 4px 4px 0px 0px var(--white), 8px 8px 0px 0px var(--white);
}

@media(max-width: 1100px) {
  .titulo {
    font-size: 3em;
    top: 40%;
  }
  
  .btn {
    top: 60%;
    padding: 14px 36px 14px 36px;
    font-size: 16px;
  }
}

@media(max-width: 860px) {
  .container img:last-child {
    object-position:top;
  }

  .imgSlide {
    min-width: 100%;
  }
}

@media(max-width: 520px) {
  .container img {
    max-height: calc(100vh - 400px);
    object-fit: cover;
  }
  .titulo {
    font-size: 2em;
    top: 40%;
  }
  
  .btn {
    top: 60%;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
  }

}

@media(max-width: 380px) {
  .titulo {
    font-size: 1.5em;
    top: 40%;
  }
  
  .btn {
    top: 60%;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
  }
}
